:root {
    --primary-color:#F73131;
    --primary-color-highlight:#ED3C3C;
    --bs-body-bg:#FBFCFC;
    --bs--body-font-family: 'Poppins' , sans-serif;
}

html {scroll-behavior: smooth ;}

a{color: var(--primary-color);}
a:hover {color: var(--primary-color);}

.navabar {
    color: #FBFCFC;
}


.container-custom {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .container-custom {width: 1140px }
}

@media (min-width: 1400px) {
    .container-custom {width: 1340px }
}

@media (min-width: 1600px) {
    .container-custom {width: 1520px }
}

.header {
    z-index: 2;
}


.dropdown-nav-closeNavBtn {
    position: absolute;
    top: 20px;
    right: 16px;
    background-color:beige;
}
.dropdown-nav__container {
    height: 10vh;
    padding: 0 1rem;
}

.hero {
    position: relative;
    height: 100vh;
    background-color:#FBFCFC;
    overflow: hidden;
}

@media (min-width: 1400px) { 
    .hero_heading {
        font-size: 3.2rem; 
    }
}


.hero__video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}

.hero__overlay {
    position:absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color:black;
    opacity: 0.5;
    z-index: 1;
}

.hero_content {
    z-index: 1;
    top: 45%;
    left: 20%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;

}

.hero__content_width {
    max-width: 540px;
}

.hero_scroll-btn {
    position: absolute;
    left: 50% ;
    bottom: 30px;
    transform: translateX(-50%);
    z-index: 1;
    color: var(--bs-body-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.hero__scroll-btn:hover {
    color: var(--bs--body-font-family);
    opacity: 0.8;
}

.hero_scroll-btn.bi {
    transition-delay: 0.8s;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    fromt {
        transform: translate(0px);
    }
    to {
        transform: translate(-10px);
    }
}

.steps {
    padding-top: 40px;
    padding-bottom: 40px;
}


.steps_section-thumbnail {
    height: 240px;
    object-fit: cover;
    margin: 0 auto;
}

.steps__content-width {
    max-width: 456px;
    margin: 0 auto;
}

.steps--background {
    background-color:#FBFCFC;
}
@media(min-width: 554px) {
    .steps {
    padding-top: 80px;
    padding-bottom: 80px;
    }
}

.steps_section-thumbnail {
    height: auto;
}



